.animal-profile-container {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.animal-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.animal-card {
  flex: 0 0 calc(33.333% - 1rem); /* Adjust width as needed */
  margin-bottom: 1rem;
  transition: transform 0.3s ease; /* Adding transition for smooth effect */
  background-color: #f0ebeb; /* Set background color */
  border-radius: 20px; /* Add border radius for rounded corners */
  padding: 20px; /* Add padding for content spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Add box shadow for depth */
}

.animal-card:hover {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 768px) {
  .animal-card {
    flex: 0 0 calc(50% - 1rem); /* Adjust width for smaller screens */
  }
}
.animal-card p {
  color: #333; /* Change color of description text */
}
