.contact-container {
  max-width: 60%; /* Adjust max-width for responsiveness */
  max-height: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('../assets/lion.jpg');
  background-size: cover;
  background-position: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #005a3c;
}

h1, p {
  color: #000000;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 22px); /* Adjust width to account for padding and border */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #005a3c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #007e55;
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%; /* Make inputs full-width on smaller screens */
  }
}
