.main-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background: linear-gradient(to bottom, #f7f5f5, #e6e6e6);
  }
  
  .edit-profile-form {
    width: 100%;
    max-width: 400px;
  }
  
  .edit-profile-card {
    width: 100%;
  }
  
  .edit-profile-form .p-field {
    margin-bottom: 1rem;
  }
  
  .edit-profile-form .p-inputtext-lg {
    width: 100%;
    font-size: 1.2rem;
  }
  
  .edit-profile-form .p-button-rounded {
    width: 100%;
    font-size: 1.2rem;
  }
  