.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-sidebar{
    position: relative;
    flex: 0 0 100%;
}


@media (max-width: 768px) {
    .left-sidebar,
    .event-card {
        width: 100%; /* On smaller screens, display cards in full width */
    }
}

.event-card {
    margin-top: 20px;
    background-image: url('../assets/ticketback2.webp') ;
  
    flex: 0 0 calc(33.333% - 1rem); /* Adjust width as needed */
    margin-bottom: 1rem;
    transition: transform 0.3s ease; /* Adding transition for smooth effect */
    background-color: #ece6e6; /* Set background color */
    border-radius: 20px; /* Add border radius for rounded corners */
    padding: 20px; /* Add padding for content spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Add box shadow for depth */
  }
  
  .event-card:hover {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }