.home-container {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.big-header {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 6vw; /* Adjust font size for responsiveness */
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 50%; /* Adjust radius for responsiveness */
  border-bottom-right-radius: 50%;
}

.welcome-card {
  text-shadow: -1px -1px 0 #f8f1f1,  
                1px -1px 0 #ffffff,
               -1px 1px 0 #ffffff,
                1px 1px 0 #ffffff;
  width: 90%; /* Adjust width for responsiveness */
  max-width: 1000px; /* Set maximum width */
  margin: 50px auto; /* Center horizontally */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2vw; /* Adjust font size for responsiveness */
  color: #033a15;
  background-size: cover;
  background-position: center;
  background-blend-mode: normal;
}


.welcome-card p {
  margin: 20px 0; /* Adjust margin */
  font-size: 1.5vw; /* Adjust font size for responsiveness */
}

.feature-panel {
  margin: 20px auto; /* Center horizontally */
  padding: 100px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8; /* Light gray background */
}

.zoo-list {
  list-style-type: none; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  
}

.zoo-list li {
  width: calc(50% - 10px); /* Adjust width for responsiveness */
  margin-bottom: 20px; /* Add margin between items */
}

.zoo-list-item {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoo-list-icon {
  width: 100%; /* Adjust width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 20px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow effect */
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.zoo-list-item:hover .zoo-list-icon {
  transform: scale(1.05); /* Scale up on hover */
  filter: brightness(90%); /* Adjust brightness on hover */
}

.zoo-list-description {
  text-align: center;
  margin-top: 10px; /* Add margin */
  color: #333; /* Darken text color */
  font-weight: bold; /* Add bold font weight */
  font-size: 1.2rem; /* Adjust font size for responsiveness */
}


.event-panel {
  margin: 20px auto; /* Center horizontally */
  padding: 100px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8; /* Light gray background */
}

.zoo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.zoo-list li {
  width: calc(50% - 10px); /* Adjust width for responsiveness */
  margin-bottom: 20px; /* Add margin between items */
}

.zoo-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoo-list-icon {
  width: 100%; /* Adjust width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 20px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow effect */
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.zoo-list-item:hover .zoo-list-icon {
  transform: scale(1.05); /* Scale up on hover */
  filter: brightness(90%); /* Adjust brightness on hover */
}

.zoo-list-description {
  text-align: center;
  margin-top: 10px; /* Add margin */
  color: #333; /* Darken text color */
  font-weight: bold; /* Add bold font weight */
  font-size: 1.2rem; /* Adjust font size for responsiveness */
}


.p-col-6 {
  margin: 20px auto;
  width: 90%; /* Adjust width for responsiveness */
  max-width: 300px; /* Set maximum width */
}

.sidebar-container {
  margin: 20px auto;
  text-align: center;
  width: 90%; /* Adjust width for responsiveness */
  max-width: 600px; /* Set maximum width */
  padding: 20px;
  background-color: #fdf7f7;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidebar-container {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 100%; /* Occupy full width on smaller screens */
  }
}

.sidebar-container ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
}

.visitor-info-list li {
  margin-bottom: 10px; /* Adjust margin */
}

.home-container,
.background-video-container,
.content-container,
.welcome-section,
.feature-section,
.event-section,
.button-section,
.sidebar-container {
  background-color: rgba(212, 221, 212, 0.7);
}
.feature-panel,
.event-panel {
  max-width: 90%;
  margin: 20px auto; /* Center horizontally */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8; /* Light gray background */
}

.feature-panel {
  background-color: #eff7ff; /* New background color for feature panel */
}

.event-panel {
  background-color: #ffeff1; /* New background color for event panel */
}
