/* Home.css */
/* .home-container {
    text-align: center;
    padding: 20px;
  } */
  
  /* .welcome-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
  } */
/*   
  .zoo-heading {
    font-size: 2.5rem;
    color: #2e643e; 
  }
  
  .zoo-subtitle {
    font-size: 1.2rem;
    color: #4d4d4d; 
  }
  
  .zoo-section-heading {
    font-size: 1.8rem;
    color: #2e643e;
    margin-bottom: 10px;
  }
  
  .zoo-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    color: #4d4d4d;
  }
  
  .zoo-list li::before {
    content: '•';
    color: #2e643e;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .zoo-button {
    background-color: #2e643e;
    color: #fff;
    margin-right: 10px;
  }
  
  .zoo-button:hover {
    background-color: #1f4429; 
  } */
  