.ticket-profile-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.ticket-section {
  width: 48%; 
}

.section-title {
  color: #004d40; 
  margin-bottom: 1rem; 
}

.ticket-card {
  background-image: url('../assets/ticketback2.webp') ;
  flex: 0 0 calc(33.333% - 1rem); 
  margin-bottom: 3rem;
  transition: transform 0.3s ease; 
  background-color: #ece6e6; 
  border-radius: 20px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); 
}

.ticket-card:hover {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.p-mb-2 {
  width: 200px; /* Adjust as needed */
}
